/* Some notes for me learning CSS! */

/*
animation:
- animation-name
- animation-duration
- animation-timing-function
- animation-delay
- animation-iteration-count
- animation-direction
- animation-fill-mode
- animation-play-state
*/

/*
transition:
- transition-property
- transition-duration
- transition-timing-function
- transition-delay
*/

* {
  background-color: #111;
}

#app-view {
  color:   #eee;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#read-view {
}

#read-header {
  animation:         fadeIn 2s linear 0s 1 normal forwards running;
  -o-animation:      fadeIn 2s linear 0s 1 normal forwards running;
  -ms-animation:     fadeIn 2s linear 0s 1 normal forwards running;
  -moz-animation:    fadeIn 2s linear 0s 1 normal forwards running;
  -webkit-animation: fadeIn 2s linear 0s 1 normal forwards running;
}

#read-message {
  box-sizing: border-box;
  height: 200px;

  white-space: pre-wrap;

  border: 3px solid #eee;
  padding: 10px;
  word-wrap: break-word;
  overflow: scroll;
  border-radius: 5px;

  animation:         fadeIn 2s linear 1.3s 1 normal backwards running;
  -o-animation:      fadeIn 2s linear 1.3s 1 normal backwards running;
  -ms-animation:     fadeIn 2s linear 1.3s 1 normal backwards running;
  -moz-animation:    fadeIn 2s linear 1.3s 1 normal backwards running;
  -webkit-animation: fadeIn 2s linear 1.3s 1 normal backwards running;
}

#write-view {
}

.fadeOut {
  opacity: 0;
  transition: none 5s ease 5s;
}

.fadeIn {
  opacity: 1;
  transition: none 5s ease 5s;
}

#footer {
  color:    #eee;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
