* {
  background-color: #111;
}

#app-view {
  color: #eee;

  width: 45%;
  margin: auto;

  padding-top: 20px;
}

#read-message {
  border: 3px solid #eee;
  border-radius: 5px;
  height: 192px;
  padding: 10px;

  overflow: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#write-view {
  padding-top: 6%;
}

#write-message {
  background-color: #111;
  color:   #eee;

  border: 3px solid #eee;
  border-radius: 5px;
  padding: 9px;
}

.container {
  display: flex;
}

.flex-item {
  margin-left: auto;
}

.hidden {
  opacity: 0
}

.slow-fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.medium-fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.quick-fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.quick-fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-o-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

#footer {
  color: #eee;

  /* Keeps element centered */
  text-align: center;
  width: 100%;

  /* Prevents element from being right-justified */
  left: 0;

  /* Keeps element at the bottom */
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
}
