* {
  background-color: #111;
}

#app-view {
  color:   #eee;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#read-message {
  box-sizing: border-box;
  height: 190px;
  border: 3px solid #eee;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: scroll;
  border-radius: 5px;
}

#write-message {
  background-color: #111;
  color:   #eee;
  border: 3px solid #eee;
  border-radius: 5px;
  padding: 9px;
}

.hidden {
  opacity: 0
}

.slow-fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.quick-fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.quick-fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-o-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

#footer {
  color:    #eee;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}
